.launch-card__image-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}

.launch-card__title {
  margin-top: 0;
  margin-bottom: 16px !important;
  text-align: center;
}

.launch-card__rocket {
  margin-bottom: 20px !important;
  text-align: center;
  color: #6b7280;
}

.launch-card__button {
  width: 200px !important;
  display: block;
  margin: 16px auto 24px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #1d7ff3;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.launch-card__button:hover {
  background-color: #1666d0;
}
